@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto|Product+Sans&display=swap');

.center{
  text-align: center;
}

*{
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
}

h2{
  font-family: 'Product Sans';
  font-size: 30px;
  display: block;
}

.profile-img{
  border-radius: 50%;
  margin: 16px;
  height: 200px;
  width: 200px;
  display: block;
}

.profile-title{
  margin-bottom: 8px;
  display: block;
}

body{
  background: white;
  padding: 24px;
}

.circle-img{
  border-radius: 50%;
}
