@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto|Product+Sans&display=swap');

.center{
  text-align: center;
}

*{
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, h7{
  font-family: 'Product Sans';
}

.profile-title{
  margin-bottom: 8px;
  display: block;
}

body{
  background: white;
  padding: 24px;
}

.circle-div{
  border-radius: 50%;
}
